<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="libs/fontawesome-free-5.15.1-web/css/all.css" />
    <link rel="stylesheet" type="text/css" href="styles/styles.css" />
    <link rel="stylesheet" type="text/css" href="styles/home.css" />
    <link rel="stylesheet" type="text/css" href="styles/doctors.css" />
    <link rel="stylesheet" href="libs/bootstrap-5.0.0-beta1-dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="libs/bootstrap-5.0.0-beta1-dist/css/bootstrap-grid.css">
    <link rel="stylesheet" href="libs/bootstrap-5.0.0-beta1-dist/css/bootstrap.css">
    <link rel="stylesheet" href="fonts/fonts.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js"></script>
    <title>صفحه دکتر جلالی</title>
</head>

<body>
    <!-- Header -->
    <header class="content">
        <nav class="container">
            <div class="row-flex">
                <div class="logo">
                    <a href="index.html">
                        <img class="logo-img" src="images/logo.svg" alt="darmankade logo">
                    </a>
                </div>
                <div class="navmenu">
                    <ul>
                        <li class="nav-item">
                            <a href="medical-specialties.html"><i class="fa fa-bars"></i> لیست تخصص ها</i></a>
                        </li>
                        <li class="nav-item"><a href="#home"><i class="fa fa-wifi"></i> مشاوره آنلاین</a></li>
                        <li class="nav-item"><a href="#home"><i class="fa fa-book"></i> مجله پزشکی</a></li>
                        <li class="nav-item"><a href="doctor-register.html"><i class="fa fa-user-md"></i> عضویت پزشکان</a></li>
                        <li class="nav-item"><a href="#home"><i class="fa fa-cube"></i> کرونا سازمانی</a></li>
                        <li class="nav-item left-nav rounded"><a href="login.html">ورود <i
                                    class="fa fa-sign-in-alt fa-flip-horizontal"></i></a></li>
                    </ul>
                </div>

            </div>
        </nav>

        <!-- Top of the page -->
        <div class="row-flex top-offset-more">
            <a href="index.html">
                <span class="f-bold blue-text left-padding">
                    درمانکده <i class="fas fa-arrow-left icon-line-align"></i>
                </span>
            </a>
            <a id = "doctor-spec-link" href="#">
                <p id = "doctor-spec" class="f-bold blue-text left-padding">
                    متخصص مغز و اعصاب 
                </p>
            </a>
            <i class="fas left-padding blue-text fa-arrow-left icon-line-align"></i>
            <a href="#">
                <p id = "doctor-name" class="fade-gray f-16">
                    دکتر مهران جلالی
                </p>
            </a>
        </div>


    </header>

    <!-- Top of the Page -->
    <div id = "vapp" class="content">
        <class class="row">
            <section id="doctor-card" class="col-4 no-right-padding bottom-offset-lot">
                <aside class="asidec fixed-top">
                    <div class="card blue-bg fourside-padding-15">
                        <div class="row">
                            <div class="col-2">
                                <svg class ="clickable" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" data-v-58d4bfc9="">
                                    <circle cx="18" cy="5" r="3" data-v-58d4bfc9=""></circle>
                                    <circle cx="6" cy="12" r="3" data-v-58d4bfc9=""></circle>
                                    <circle cx="18" cy="19" r="3" data-v-58d4bfc9=""></circle>
                                    <line x1="8.59" y1="13.51" x2="15.42" y2="17.49" data-v-58d4bfc9=""></line>
                                    <line x1="15.41" y1="6.51" x2="8.59" y2="10.49" data-v-58d4bfc9=""></line>
                                </svg>
                            </div>
                            <div class="col-8 text-center white-text">
                                <img class="row doctor-profile-pic round-pic auto-margin" v-bind:src="doctors.avatar" alt="">
                                <p class="f-bold top-offset f-18 bottom-offset">{{doctors.name}}</p>
                                <p class="bottom-offset">{{doctors.spec}}</p>
                                <p class="f-16 bottom-offset-more">شماره نظام پزشکی: {{doctors.number}}</p>
                            </div>
                            <div class="col-2">
                                <svg class = "clickable" xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" data-v-390d7861="">
                                    <path
                                        d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
                                        data-v-390d7861=""></path>
                                </svg>
                            </div>
                        </div>
                        <div id="doctor-card-info" class="card row-flex text-center fade-gray">
                            <div class="col-4 padding-top-10p">
                                <i class="left-padding f-18 fas fa-book icon-line-align"></i>
                                <p class="bottom-offset f-16">تجربه</p>
                                <p class="f-bold">{{doctors.experience_years}} سال</p>
                            </div>
                            <div class="col-4 padding-top-10p">
                                <i class="left-padding f-18 fas fa-book icon-line-align"></i>
                                <p class="bottom-offset f-16">اولین نوبت آزاد</p>
                                <p class="f-bold">{{doctors.first_empty_date}}</p>
                            </div>
                            <div class="col-4 padding-top-10p">
                                <i class="left-padding f-18 fas fa-book icon-line-align"></i>
                                <p class="bottom-offset f-16">پرداخت آنلاین</p>
                                <p v-if="doctors.online_pay == true" class="f-bold">دارد</p>
                                <p v-else class="f-bold">ندارد</p>
                            </div>
                        </div>
                    </div>
                </aside>
            </section>

            <section class="col-8 no-left-padding no-right-padding">
                <div class="card">
                    <div id="sidebar-header">
                        <div
                            class="clickable col-3  right-margin-little rounded fourside-margin-10 blue-bg white-text f-18 fourside-padding-5">
                            <p class="no-margin-bottom text-center">
                                مطب چهارراه پونک
                                <i class="fas fa-chevron-down"></i>
                            </p>
                        </div>
                    </div>
                    <div class="flex top-offset-more bottom-offset-more">
                        <div class="col-1 ltr top-offset-more">
                            <div class="arrow-btn clickable">
                                <i class="fas fa-chevron-right center-center"></i>
                            </div>
                        </div>
                        <div id="days" class="col-10 flex">
                            <div class="col-2">
                                <button>
                                    <div class="card text-center blue-text">
                                        <p class="f-bold bottom-offset-less">یکشنبه</p>
                                        <p class="f-bold bottom-offset-less">۱۹</p>
                                        <p class="f-16 bottom-offset-less">آذر</p>
                                    </div>
                                </button>
                            </div>
                            <div class="col-2">
                                <button>
                                    <div class="card text-center blue-text">
                                        <p class="f-bold bottom-offset-less">دوشنبه</p>
                                        <p class="f-bold bottom-offset-less">۲۰</p>
                                        <p class="f-16 bottom-offset-less">آذر</p>
                                    </div>
                                </button>
                            </div>
                            <div class="col-2">
                                <button>
                                    <div class="card text-center blue-text">
                                        <p class="f-bold bottom-offset-less">سه شنبه</p>
                                        <p class="f-bold bottom-offset-less">۲۱</p>
                                        <p class="f-16 bottom-offset-less">آذر</p>
                                    </div>
                                </button>
                            </div>
                            <div class="col-2">
                                <button>
                                    <div class="card text-center blue-text">
                                        <p class="f-bold bottom-offset-less">چهارشنبه</p>
                                        <p class="f-bold bottom-offset-less">۲۲</p>
                                        <p class="f-16 bottom-offset-less">آذر</p>
                                    </div>
                                </button>
                            </div>
                            <div class="col-2">
                                <button>
                                    <div class="card text-center blue-text deactive-date">
                                        <p class="f-bold bottom-offset-less">پنج شنبه</p>
                                        <p class="f-bold bottom-offset-less">۲۳</p>
                                        <p class="f-16 bottom-offset-less">آذر</p>
                                    </div>
                                </button>
                            </div>
                            <div class="col-2">
                                <button>
                                    <div class="card text-center blue-text deactive-date">
                                        <p class="f-bold bottom-offset-less">جمعه</p>
                                        <p class="f-bold bottom-offset-less">۲۴</p>
                                        <p class="f-16 bottom-offset-less">آذر</p>
                                    </div>
                                </button>
                            </div>
                        </div>
                        <div class="col-1 right-padding left-padding top-offset-more">
                            <div class="arrow-btn clickable">
                                <i class="fas fa-chevron-left center-center"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card fourside-margin-10">
                        <div class="row right-padding padding-top-10p">
                            <p>
                                <i class="fas fa-clock"></i>
                                ساعت های نوبت دوشنبه ۳ آذر
                            </p>
                        </div>
                        <div class="row-flex">
                            <div
                                class="col-2 right-margin-little rounded fourside-margin-10 deactive-btn fade-gray f-18 fourside-padding-5">
                                <p class="no-margin-bottom text-center line-through fourside-padding-5">
                                    <span class="default-btn">۱۷:۳۰</span>
                                </p>
                            </div>
                            <div
                                class="clickable col-2  right-margin-little rounded  orange-hover fourside-margin-10 pale-orange-bg white-text f-18 fourside-padding-5">
                                <p class="no-margin-bottom text-center fourside-padding-5">
                                    <span class="default-btn">۱۹:۳۰</span>
                                    <span class="reserve-hover">رزرو کنید</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Overal comments -->
                <div class="card top-offset bottom-offset">
                    <div class="row padding-top-10p padding-bottom-10p">
                        <div class="col-2">
                            <div class="card no-border col-8 auto-margin light-blue-bg text-center">
                                <p class="blue-text f-32 f-bold top-offset-less no-margin-bottom">
                                    {{twoPoint(doctors.average)}}
                                </p>
                                <p class="blue-text no-margin-bottom f-10">
                                    <i v-for="index in ceil(doctors.average)" class="fas no-left-padding no-right-padding fa-star icon-line-align"></i>
                                </p>
                                <p class="fade-gray f-16 no-margin-bottom">
                                    از {{doctors.comments}} نظر
                                </p>
                            </div>
                        </div>
                        <div class="col-10 right-padding">
                            <p class="fade-gray">
                                <i class="fas fa-comment left-padding"></i>
                                نظر {{doctors.latest_commenter}}:
                            </p>
                            <p class="no-margin-bottom">
                                {{doctors.latest_comment}}
                            </p>
                            <div id="comment-bullets" class="top-offset">
                                <p class="no-margin-bottom text-center">
                                    <i class="bullet-selected fas f-10 fa-circle icon-line-align"></i>
                                    <i class="fas no-right-padding f-10 fa-circle icon-line-align"></i>
                                    <i class="fas no-right-padding f-10 fa-circle icon-line-align"></i>
                                    <i class="fas no-right-padding f-10 fa-circle icon-line-align"></i>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Matab information -->
                <div id="tab-container" class="card bottom-offset">
                    <div id = "tab-selectors" class="row-flex tabs">
                        <div v-on:click="selectTab(0)" id = "selected-tab" class="tab fourside-padding-15">
                            <p class="no-margin-bottom f-18">
                                <i class="fas left-padding fa-map icon-line-align"></i>
                                اطلاعات مطب
                            </p>
                        </div>
                        <div v-on:click="selectTab(1)" class="tab fourside-padding-15">
                            <p class="no-margin-bottom f-18">
                                <i class="fas left-padding fa-calendar icon-line-align"></i>
                                روزهای حضور
                            </p>
                        </div>
                    </div>
                    <div class="visible tab-content">
                        <div class="col-5 fourside-padding-15">
                            <img src="images/map.png" class="rounded-15p w-100" alt="">
                        </div>
                        <div class="col-7 fourside-padding-15 fade-black">
                            <p class="f-bold"> آدرس مطب ۱</p>
                            <p class="f-16">
                                {{doctors.address}}
                            </p>
                            <p>
                                <span class="f-bold">
                                    تلفن گویا:
                                </span>
                                {{doctors.phone}}
                            </p>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="fourside-padding-15 wide just-between">
                            <div v-for="(day, index) in doctors.week_days" class="card w-10 fade-black no-border light-grey-bg text-center">
                                <p class="f-bold bottom-offset-less">{{weekdays[index]}}</p>
                                <p v-if="day == true">
                                    <i class="fas fa-check icon-line-align" style="color: green;"></i>
                                </p>
                                <p v-else>
                                    <i class="fas fa-times icon-line-align" style="color: red;"></i>
                                </p>
                            </div>
                            

                        </div>
                    </div>
                </div>


                <!-- Users Comments -->
                <div class="card bottom-offset-lot fade-black">
                    <div class="row-flex bottom-offset fourside-padding-5 light-grey-bg no-bottom-border-radius">
                        <div class="col-1 text-center top-offset-less">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="text-slate feather feather-message-square">
                                <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
                            </svg>
                        </div>
                        <div class="col-11">
                            <p class="no-margin-bottom f-bold">نظرات کاربران (تعداد کل نظرات :{{doctors.comments}})</p>
                            <p class="no-margin-bottom f-16 fade-gray">در این قسمت شما می توانید تجربه مراجعه کاربران
                                دیگر به مطب آقای دکتر مهران جلالی را بخوانید.</p>
                        </div>
                    </div>


                    <div class="row fourside-padding-15 fade-black">
                        <div class="col-6">
                            <p class = "f-bold">
                                <i class="far left-padding fa-star icon-line-align"></i>
                                امتیاز به پزشک
                            </p>
                            <div class="row-flex right-padding bottom-offset-less">
                                <div class="col-2">
                                    <p class = "no-margin-bottom">
                                        ۵ ستاره
                                    </p>
                                </div>
                                <div class="col-9">
                                    <div class="fillbar-container">
                                        <div class="fillbar">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-1">
                                    <p class="text-center no-margin-bottom">
                                        ۸
                                    </p>
                                </div>
                            </div>
                            <div class="row-flex right-padding bottom-offset-less">
                                <div class="col-2">
                                    <p class = "no-margin-bottom">
                                        ۴ ستاره
                                    </p>
                                </div>
                                <div class="col-9">
                                    <div class="fillbar-container">
                                        
                                    </div>
                                </div>
                                <div class="col-1">
                                    <p class="text-center no-margin-bottom">
                                        ۰
                                    </p>
                                </div>
                            </div>
                            <div class="row-flex right-padding bottom-offset-less">
                                <div class="col-2">
                                    <p class = "no-margin-bottom">
                                        ۳ ستاره
                                    </p>
                                </div>
                                <div class="col-9">
                                    <div class="fillbar-container">
                                        
                                    </div>
                                </div>
                                <div class="col-1">
                                    <p class="text-center no-margin-bottom">
                                        ۰
                                    </p>
                                </div>
                            </div>
                            <div class="row-flex right-padding bottom-offset-less">
                                <div class="col-2">
                                    <p class = "no-margin-bottom">
                                        ۲ ستاره
                                    </p>
                                </div>
                                <div class="col-9">
                                    <div class="fillbar-container">
                                        
                                    </div>
                                </div>
                                <div class="col-1">
                                    <p class="text-center no-margin-bottom">
                                        ۰
                                    </p>
                                </div>
                            </div>
                            <div class="row-flex right-padding bottom-offset-less">
                                <div class="col-2">
                                    <p class = "no-margin-bottom">
                                        ۱ ستاره
                                    </p>
                                </div>
                                <div class="col-9">
                                    <div class="fillbar-container">
                                        
                                    </div>
                                </div>
                                <div class="col-1">
                                    <p class="text-center no-margin-bottom">
                                        ۰
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <p class = "f-bold no-margin-bottom">
                                <i class="far left-padding fa-clock icon-line-align"></i>
                                میانگین زمان انتظار برای ویزیت

                            </p>
                            <p class= "right-padding">
                                ۴۵ دقیقه
                            </p>
                        </div>
                    </div>


                    <div class="fourside-padding-15">
                        <div class="card fourside-padding-5 bottom-offset">
                            <div class="flex padding-bottom-up-less">
                                <p class="no-margin-bottom left-padding">
                                    <i class="fas fa-sliders-h icon-line-align"></i>
                                </p>
                                <p class="no-margin-bottom">
                                    مرتب سازی بر اساس:
                                </p>
                                <div id="filters">
                                    <p id="selected-filter" class="no-margin-bottom">جدیدترین</p>
                                    <p class="fade-gray no-margin-bottom">بیشترین امتیاز</p>
                                    <p class="fade-gray no-margin-bottom">مفیدترین نظرات</p>
                                </div>
                            </div>
                        </div>

                        <div v-for="comment in comments" class="card bottom-offset">
                            <div class="row-flex bottom-offset fourside-padding-5 light-grey-bg no-bottom-border-radius">
                                <div class="col-1 text-center top-offset-less vertical-center">
                                    <i class="fas fa-user icon-line-align"></i>

                                </div>
                                <div class="col-10 vertical-center">
                                    <p class="no-margin-bottom fade-gray">
                                        نظر {{comment.firstname}} در تاریخ {{comment.date.day}} {{months[comment.date.month - 1]}} {{comment.date.year}}
                                    </p>
                                </div>
                                <div class="col-1 dark-green left-padding">
                                    <div class="row">
                                        <p class = "ltr no-margin-bottom">
                                            <i class="fas fa-thumbs-up icon-line-align"></i>
                                        </p>
                                    </div>
                                    <div class="row">
                                        <p class = "ltr no-margin-bottom">
                                            {{comment.likes}}
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="row-flex">
                                <div class="col-2 f-bold right-padding">
                                    <p class = "bottom-offset">علت مراجعه</p>
                                    <p>امتیاز به پزشک</p>
                                </div>
                                <div class="col-3">
                                    <p class = "fade-gray">{{comment.reason}}</p>
                                    <p class = "f-16 blue-text">
                                        <i v-for="index in comment.stars" class="fas fa-star icon-line-align"></i>
                                        

                                    </p>
                                </div>
                                <div class="col-7 left-padding">
                                    <p class = "fade-black">
                                        {{comment.desc}}
                                    </p>
                                </div>
                            </div>
                            
                        </div>

                        <form action="/submit-comment" method="POST">
                            <div class="flex">
                                <label for="reason">دلیل مراجعه</label>
                                <input name = "reason" type="text">
                                <label for="stars">امتیاز</label>
                                <select name="stars">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <label for="desc">نظر</label>
                            <textarea name="desc" cols="30" rows="10"></textarea>
                            <input type="submit">
                        </form>


                        
                    </div>
                    


            </section>


        </class>
    </div>


    <!-- Services -->
    <section id="services">
        <div class="my-container corona-bg padding-top-offset padding-bottom-offset">
            <p class="text-center wide white-text f-24 f-bold bottom-offset-more">خدمات ویژه درمانکده برای کووید</p>
            <div class="services-content">
                <div class="col-50 sides-margin-med">
                    <img class="service-img bottom-offset-more" src="images/services1.png" alt="">
                    <p class="text-center white-text f-bold bottom-offset">تست PCR و آنتی بادی در محل</p>
                    <p class="white-text bottom-offset"> اگر در شهرهای تهران، مشهد، اصفهان، کرج هستید،
                        می‌توانید بدون مراجعه به آزمایشگاه و در محل مدنظر خود آزمایش کرونا بدهید.</p>
                    <button class="services-btn bottom-offset top-offset">
                        <a href="">
                            <p class="no-margin-bottom f-18">درخواست آزمایش <i class="fas fa-arrow-left"></i></p>
                        </a>
                    </button>
                </div>
                <div class="col-50 sides-margin-med">
                    <img class="service-img bottom-offset-more" src="images/services2.png" alt="">
                    <p class="text-center white-text f-bold bottom-offset">مشاوره آنلاین کرونا</p>
                    <p class="white-text bottom-offset">با تست آنلاین کرونا علائم خود را بررسی کنید و اگر مشکوک بودید
                        میتوانید به صورت فوری با پزشکان عمومی مشاوره آنلاین داشته باشید.</p>
                    <button class="services-btn bottom-offset top-offset">
                        <a href="">
                            <p class="no-margin-bottom f-18">دریافت مشاوره کرونا <i class="fas fa-arrow-left"></i></p>
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </section>

    <!-- Application Download -->
    <section id="download">
        <div class="content">
            <div class="row-flex">
                <div class="col-41">
                    <img class="download-img" src="images/signup.png" alt="">
                    <div class="download-stores">
                        <a href="">
                            <img src="images/play store.png" alt="">
                        </a>
                        <a href="">
                            <img src="images/apple.png" alt="">
                        </a>
                        <a href="">
                            <img src="images/bazaar.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-58">
                    <div class="col-66 auto-margin download-app">
                        <p class="fade-black f-bold f-18">دانلود اپلیکیشن درمانکده</p>

                        <p class="fade-gray">با اپلیکیشن درمانکده با پزشکان و روانشناسان آنلاین مشاوره کنید یا برای
                            ویزیت حضوری آنلاین نوبت بگیرید.</p>
                        <p class="padding-top-offset fade-black f-bold">برای دریافت لینک دانلود، شماره موبایل خود را
                            وارد کنید.</p>
                        <div class="app-form">
                            <input class="col-50" type="text" placeholder="مانند *********۰۹">
                            <div class="hover-box">
                                <a class="hover-btn" href="#">
                                    <span class="hover-btn-descr f-16">ارسال لینک</span>
                                    <div class="hover-btn-icon">
                                        <i class="fas fa-mobile-alt"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="footer-container">
            <div class="row-flex bottom-offset top-offset-more">
                <div class="col-33">
                    <img class="wide bottom-offset" src="images/logo_invert.svg" alt="logo">
                    <p class="wide">درمانکده، ارائه دهنده خدمات آنلاین سلامت
                        <br>(نوبت گیری اینترنتی، مشاوره آنلاین و ...)
                    </p>
                </div>
                <div class="col-33 flex">
                    <div class="col-50 ">
                        <ul class="footer-links">
                            <li class="footer-link">
                                <a href="">سوالات متداول</a>
                            </li>
                            <li class="footer-link">
                                <a href="">قوانین و مقررات</a>
                            </li>
                            <li class="footer-link">
                                <a href="">شکایات</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-50">
                        <ul class="footer-links">
                            <li>
                                <a href="">درباره درمانکده</a>
                            </li>
                            <li>
                                <a href="">تماس با ما</a>
                            </li>
                            <li>
                                <a href="">مجله پزشکی</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-33">
                    <div class="row-flex e-namad bottom-offset-more">
                        <div class="card">
                            <a href="">
                                <img src="images/enamad.png" alt="">
                            </a>
                        </div>
                        <div class="card">
                            <a href="">
                                <img src="images/samandehi.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="row-flex">
                        <ul class="social-links">
                            <li>
                                <a href="">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="36px" height="36px"
                                        viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round"
                                        class="text-white p-1 feather feather-instagram" data-v-1c02d2dc="">
                                        <rect x="2" y="2" width="20" height="20" rx="5" ry="5" data-v-1c02d2dc="">
                                        </rect>
                                        <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z" data-v-1c02d2dc="">
                                        </path>
                                        <line x1="17.5" y1="6.5" x2="17.5" y2="6.5" data-v-1c02d2dc=""></line>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="36px" height="36px"
                                        viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round"
                                        class="text-white p-1 feather feather-twitter" data-v-1c02d2dc="">
                                        <path
                                            d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"
                                            data-v-1c02d2dc=""></path>
                                    </svg>
                                </a>

                            </li>
                            <li>
                                <a href="">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="36px" height="36px"
                                        viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round"
                                        class="text-white p-1 feather feather-linkedin" data-v-1c02d2dc="">
                                        <path
                                            d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"
                                            data-v-1c02d2dc=""></path>
                                        <rect x="2" y="9" width="4" height="12" data-v-1c02d2dc=""></rect>
                                        <circle cx="4" cy="4" r="2" data-v-1c02d2dc=""></circle>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </footer>

    <section id="copyright">
        <div class = "footer-container row-flex f-16">
            <p class = "f-12 col-50"> (آیرانیک)تمامی حقوق این سایت برای درمانکده محفوظ است</p>
            <p class = "f-12 col-50 ltr">طراحی شده بی <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-fill-red feather feather-heart" data-v-1c02d2dc=""><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z" data-v-1c02d2dc=""></path></svg> توسط امیربین</p>
        </div>
    </section>


    <script type= "module">
        const vueApp = new Vue({
            el: '#vapp',
            data() {
                return {
                    "selected-tab": 1,
                    "doctors": [],
                    "comments": [],
                    "months": ["فروردین","اردیبهشت","خرداد","تیر","مرداد","شهریور","مهر","آبان","آذر","دی","بهمن","اسفند"],
                    "weekdays": ["شنبه", "یکشنبه", "دوشنبه", "سه شنبه", "چهارشنبه", "پنج شنبه", "جمعه"]
                }
            },
            methods: {

            getQueryVariable(variable) {
                var query = window.location.search.substring(1);
                var vars = query.split('&');
                for (var i = 0; i < vars.length; i++) {
                    var pair = vars[i].split('=');
                    if (decodeURIComponent(pair[0]) == variable) {
                        return decodeURIComponent(pair[1]);
                    }
                }
                console.log('Query variable %s not found', variable);
            },

            selectTab(tabNumber) {
                console.log(this.doctors)
                var tabs = document.getElementById("tab-selectors").children;
                var tabContents = document.getElementById("tab-container").children;
                for(let i = 0; i < tabs.length; i++) {
                    if(i != tabNumber) {
                        tabs[i].setAttribute("id", "");
                    } else {
                        tabs[i].setAttribute("id", "selected-tab");
                    }
                }
                console.log(tabContents.length);
                for(let i = 1; i< tabContents.length; i++) {
                    if(i != tabNumber + 1) {
                        tabContents[i].setAttribute("class", "tab-content");
                    } else {
                        tabContents[i].setAttribute("class", "tab-content visible");
                    }
                }

            },

            ceil(num) {
                return Math.ceil(num)
            },

            twoPoint(num) {
                return num.toFixed(1)
            },

            specIdMapper(id) {
                switch(id) {
                    case "1":
                        return "مغز و اعصاب";
                    case "2":
                        return "گوش، حلق و بینی"
                    case "3":
                        return "داخلی"
                    case "4":
                        return "زنان و زایمان"
                    case "5":
                        return "پوست و مو"
                    case "6":
                        return "اورولوژی"
                    default:
                        return "ارتوپدی"
                }
            },

            read(id) {
                var s = document.getElementById("doctor-spec");
                var slink = document.getElementById("doctor-spec-link");
                var n = document.getElementById("doctor-name");

                // var url = 'https://intense-ravine-40625.herokuapp.com/doctors/' + id;
                var url = 'http://localhost:8000/api/get/' + id;
                console.log(url)
                axios.get(url).then(
                response => {
                this.doctors = response.data;
                this.doctors.spec = this.specIdMapper(response.data.specid)
                s.innerHTML = this.doctors.spec;
                slink.setAttribute("href", "doctors-list.html?spec=" + response.data.specid)
                document.title = " صفحه دکتر" + response.data.name;
                n.innerHTML = response.data.name;
                }
                ).catch((err) => console.error(err));

                axios.get('http://localhost:8000/api/comments/' + id).then(
                    response => {
                        this.comments = response.data;
                        console.log(this.comments[0].desc)
                    }
                )
                
            
            },

            

            },
            
            mounted() {
                this.read(this.getQueryVariable('id'));
            }
        })
    </script>
</body>

</html>