/* ================== MISC AND UTILS ================== */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FAFAFA;
    direction: rtl;
}

.content {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
}
  
.container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    display: block;
}

.row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.rounded {
    border-radius: 10%;
}

.col-80 {
    width: 80%;
}

.col-66 {
    width: 66.66%;
}

.col-16 {
    width: 16.65%;
}

.col-50 {
    width: 50%;
}

.col-41 {
    width: 41.6%
}

.col-58 {
    width: 58.4%;
}

.col-33 {
    width: 33.3%;
}

.col-20 {
    width: 20%;
}

.bottom-offset {
    margin-bottom: 15px;
}

.bottom-offset-more {
    margin-bottom: 25px;
}

.bottom-offset-lot {
    margin-bottom: 50px;
}

.top-offset {
    margin-top: 15px;
}

.padding-bottom-offset {
    padding-bottom: 25px;
}

.padding-top-offset {
    padding-top: 4%;
}

.padding-right {
    padding-right: 10px;
}

.ltr {
    direction: ltr;
}

.flex {
    display: flex;
}

.text-center {
    text-align: center!important;
}

.wide {
    flex: 0 0 100%;
}

.white-text {
    color: white;
}

.blue-bg {
    background-color: #0078D7;
}

.link {
    text-decoration: none;
    color: #0078D7;
}

.link:hover {
    color: orangered;
}

.no-hover:hover {
    color: #0078D7;
}

.dashed-border {
    border-bottom: 1px dashed #0078D7;
}

.no-decoration {
    text-decoration: none;
}

.black-text {
    color: black;
}

.right-margin-large {
    margin-right: 40%;
}

.max-height {
    min-height: 100vh;
}

.center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.white-alt-bg {
    background-color: #FAFAFA;
}

.icon-line-align {
    padding-right: 5px;
    padding-top: 4px;
}

.btn-base {
    border: none;
    border-radius: 10px;
    height: 60px;
    align-items: center;
}

.btn-orange, .btn-orange-invert:hover {
    color: white;
    background-color: #FB815E;
}

.btn-orange-invert {
    color: #FB815E;
    background-color: white;
    border: 1px solid #FB815E;
    transition: 0.3s;
}

.auto-align {
    margin: auto;
}
