@font-face {
    font-family: Vazir;
    src: url('Farsi-Digits/Vazir-Regular-FD.eot');
    font-weight: normal;
  }
  
  @font-face {
    font-family: Vazir;
    src: url('Farsi-Digits/Vazir-Bold-FD.eot');
    font-weight: bold;
  }
  
  @font-face {
    font-family: Vazir;
    src: url('Farsi-Digits/Vazir-Thin-FD.eot');
    font-weight: 300;
  }
  
  @font-face {
    font-family: Vazir;
    src: url('Farsi-Digits/Vazir-Medium-FD.eot');
    font-weight: 500;
  }
  
  @font-face {
    font-family: Vazir;
    src: url('Farsi-Digits/Vazir-Light-FD.ttf');
    font-weight: 100;
    }

body {
    font-family: Vazir;
    font-weight:normal;
    font-style:normal;
}

input, button {
    font-family: Vazir;
}

/* ========= Font sizes ========= */

.f-16 {
    font-size: .9rem;
}

.f-12 {
  font-size: .8rem;
}

.f-10 {
  font-size: .6rem;
}

.fa {
    font-size: 18px;
}

.f-32 {
    font-size: 2.5rem;
}

.f-20 {
  font-size: 1.5rem;
}

.f-24 {
    font-size: 1.8rem;
}

.f-18 {
    font-size: 1.2rem;
}

.f-bold {
    font-weight: bold;
}

/* ========= Font colors ========= */

.gray {
    color: gray;
}

.fade-gray {
    color: #6E7794;
}

.fade-black {
    color: #3B4157;
}

.dark-green {
  color:darkgreen;
}

.white-text {
  color: white;
}

.black-text {
  color: black;
}

.blue-text {
  color: #0078D7;
}
